<div class="site-header">
  <div class="input-wrapper">
    <input
      type="text"
      key-up="keyUp"
      placeholder="Введіть назву гри"
      class="search-field"
     >

    <div class="focus-background"></div>
  </div>
</div>