<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Коротко про цей сервіс</h2>
  <p>
    Вирішив я значить замутити цей сервіс для Юліка і як завжди часу стало не вистачати...
  </p>
  {{#link-to "contact" class="button"}}
    Контакти
  {{/link-to}}
</div>