<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}}
    WTP
  {{/link-to}}
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to "about" class="nav-link"}}
          Про сервіс
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "contact" class="nav-link"}}
          Контакти
        {{/link-to}}
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Випадаюче меню
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            Подія
          </a>
          <a class="dropdown-item" href="#">
            Інша подія
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            Якась ще подія
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link disabled"
          href="#"
          tabindex="-1"
          aria-disabled="true"
        >
          Вимкнуто
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        {{fa-icon "google" prefix="fab"}}
        Авторизація
      </button>
    </form>
  </div>
</nav>
<div class="container mt-3">
  <div class="alert alert-success" role="alert">
    Сервіс працює у тестовому режимі, якщо у вас є деякі запитання стосовно функціонування сервісу, прошу
    <a href="https://t.me/u_are_ready" class="alert-link">
      звертатися в Telegram
    </a>
    .
  </div>
  <div class="jumbotron">
    <h1 class="display-4">
      Пропозиції ігор
    </h1>
    <p class="lead">
      Наш сервіс надає можливість запропонувати гру вашому улюбленому блогеру/стрімеру для відео або стрімів
    </p>
    <hr class="my-4">
    <p>
      Щоб запропонувати гру, введіть у пошуку назву гри та оберіть з випадаючого списку, якщо ж така гра відсутня, ви матимете можливість запропонувати її на розгляд адміністрації сервісу.
    </p>
    {{! <a class="btn btn-primary btn-lg" href="#" role="button">
      Learn more
    </a> }}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>